@charset "UTF-8";

.wBorder{
    border-bottom:solid;
    border-color:white;
    border-width:10px;
}

.xmas{
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  font-size: 48px;
}

.store{
  border-radius: 175px;
}
