@charset "UTF-8";

body{
  background-color: #a71d31;
}

.wBorder{
    border-bottom:solid;
    border-color:white;
    border-width:10px;
}

.xmas{
  font-family: 'Mountains of Christmas', cursive;
  font-weight: bold;
  font-size: 48px;
}

.xmasSm{
  font-family: 'Mountains of Christmas', cursive;
  font-size: 24px;
}

.store{
  border-radius: 175px;
}

input{
  width:100%;
  resize: vertical;
  padding:5px;
  border-radius:25px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:40px;
  font-family: 'Mountains of Christmas', cursive;
} 

textarea {
  width:100%;
  resize: vertical;
  padding:15px;
  border-radius: 35px;
  border: 1;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
  font-family: 'Mountains of Christmas', cursive;
  font-size: large;
}

.btnCute{
  background-color: yellow;
  color: black;
  font-size: 24px;
  font-family: 'Mountains of Christmas', cursive;
  min-width: 275px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}